.skills
  max-width: 1200px
  text-align: center
  margin: 0 auto
  padding: 4rem 1rem

.skills__title
  font-size: 2.5rem
  margin-bottom: 2rem

.skills__grid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
  gap: 1.5rem
  justify-content: center
  align-items: center
  padding: 1rem
  background-color: #1a1a1a
  border-radius: 8px
  max-width: 800px
  margin: 0 auto
  transition: transform 0.3s ease

  &:hover 
    transform: translateY(-5px)
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)

.skill
  display: flex
  flex-direction: column
  align-items: center
  gap: 0.5rem
  padding: 1rem
  background-color: #390000
  border-radius: 8px
  transition: transform 0.3s ease

  &:hover
    transform: scale(1.1)
    background-color: #600000

.skill__icon
  width: 50px
  height: 50px
  object-fit: contain

.skill__name
  font-size: 1rem
  font-weight: bold

.skills__soft-skills
  display: flex
  flex-wrap: wrap
  gap: 1rem
  justify-content: center
  align-items: center
  padding: 1rem
  background-color: #1a1a1a
  border-radius: 8px
  max-width: 800px
  margin: 0 auto
  transition: transform 0.3s ease

  &:hover 
    transform: translateY(-5px)
    box-shadow: 0 4px 8px rgba(114, 114, 114, 0.2)

.soft-skill-item 
  padding: 0.5rem 1rem
  border-radius: 20px
  transition: all 0.3s ease
  background: #390000

  &:hover 
    background-color: #600000
    color: white
    transform: translateY(-2px)

    .skill-name
      color: white

  .skill-name
    font-weight: 500
    transition: all 0.3s ease
    color: #600000

  

